.upload-box div[role="presentation"] {
  height: 150px !important;
}
.btn_submit {
  background: #0d47a1;
  padding: 10px;
  border-radius: 9px;
  border: 1px solid #7986cb;
  color: #fff;
}
.btn_submit:hover {
  background: #2196f3;
}
